@use 'global' as *;
@use 'sass:math';

.p-mainview {
}

.p-mainview__inner {
	display: flex;
}

.p-mainview__menu {
	width: 30%;
}

.p-mainview__images {
	position: relative;
	width: 70%;
}

.p-images__image {
	width: 100%;
	// animation: disappear 1s forwards; 
	// visibility: hidden;
	opacity: 0;
	transition: opacity 3s;
}

.p-images__image:nth-child(n+2) {
	position: absolute;
	top: 0;
	left: 0;
}



.p-images__image.is-active {
	// animation: appear 1s forwards;
	opacity: 1;
	// visibility: visible;
}

// .p-images__image[data-target='category1'] {
// 	opacity: 1;
// }


// @keyframes appear {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes disappear {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
